<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://ai.google.dev" target="_blank"
    >
      Gemini Pro API
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ninvfeng/GeminiProChat" target="_blank"
    >
      Github
    </a>
  </p>
</footer>
