<footer>
  <div mt-8><a class=" gpt-subtitle text-xs" href="https://gpt4f.ninvfeng.xyz">Gemini不够聪明? 氪金地表最强GPT4</a></div>
  <div mt-2 text-xs op-30>
    <a
      b-slate-link
      href="https://ai.google.dev" target="_blank"
    >
      Gemini Pro API
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ninvfeng/GeminiProChat" target="_blank"
    >
      Github
    </a>
  </div>
</footer>
